# Cloud-init configuration for CtxOS
# Cloudstack, OpenStack, AWS, GCE, Azure, etc.

cloud_init_modules:
 - disk_setup
 - growpart
 - keys_to_console
 - install_hotplug
 - manage_etc_hosts
 - migrate_home_links
 - package_update_upgrade_install
 - runcmd
 - set_hostname
 - update_hostname
 - update_etc_hosts

cloud_config_modules:
 - ssh
 - set_passwords
 - grub_dpkg
 - apport
 - keyboard
 - locale
 - set_timezone
 - puppet
 - chef
 - salt_minion
 - mcollective
 - disable-ec2-metadata
 - runcmd
 - byobu

cloud_final_modules:
 - rightscale_userdata
 - scripts-vendor
 - scripts-per-once
 - scripts-per-boot
 - scripts-per-instance
 - scripts-user
 - ssh-authkey-fingerprints
 - keys-to-console
 - install-app-streamer
 - cupathinfo
 - set-passwords
 - rh_subscription
 - puppet
 - chef
 - salt_minion
 - mcollective
 - disable-ec2-password
 - write-files-deferred
 - update-hostname
 - update-etc-hosts

users:
  - name: root
    primary-group: root
    shell: /bin/bash
    lock-passwd: false
    passwd: "!"

disable_root: false
preserve_hostname: false
manage_etc_hosts: true

datasource_list: [ CloudStack, OpenStack, EC2, Azure, AltCloud, GCE, DigitalOcean, None ]

growpart:
  mode: auto
  devices: ['/']

resize_rootfs: true

system_info:
  default_user:
    name: ctxos
    groups: [sudo, audio, video, dialout]
    shell: /bin/bash
    sudo: ["ALL=(ALL) NOPASSWD:ALL"]
    lock_passwd: true
  distro: debian
  default_language: en_US
  hostname: ctxos
  package_mirrors:
    - arches: [i386, amd64]
      failsafe:
        primary: http://deb.debian.org/debian
        security: http://security.debian.org/debian
      search:
        primary:
          - http://deb.debian.org/debian/
        security:
          - http://security.debian.org/debian/

phone_home:
  url: http://example.com/
  post: []
  tries: 10
