[Desktop Entry]
Version=1.0
Name=Firefox (CTX Edition)
GenericName=Web Browser
Comment=Browse the World Wide Web
Exec=firefox --new-instance -P "ctxos-default"
Terminal=false
Type=Application
Icon=firefox
Categories=Network;WebBrowser;
StartupNotify=true
StartupWMClass=firefox
